<section class="to-feature padding-90-t">
  <div class="container">
      <div class="to-feature__header text-center">
        <h3>
          Stop exposing your identity and personal life
        </h3>
        <p>
          TrackOFF provides the anti-tracking you need in today's digital world
        </p>
      </div>
      <div class="to-feature__main padding-40-t">
        <div class="row">

          <div class="col-md-4">
            <div class="media">
              <div class="to-feature__icon --big" data-icon="fingerprint"></div>
              <div class="media-body to-feature__text">
                <b>Prevents online ID theft</b><br>
                Your computer has a unique <br>
                fingerprint that's used to identify and track you. TrackOFF works like a glove to protect it.
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="media">
              <div class="to-feature__icon --big" data-icon="protect"></div>
              <div class="media-body to-feature__text">
                <b>Shields your Internet browsing history from prying eyes</b><br>
                Hard-to-remove tracking cookies tell the story of who you are and where you've been. TrackOFF blasts them away in seconds.
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="media">
              <div class="to-feature__icon --big" data-icon="web"></div>
              <div class="media-body to-feature__text">
                <b>Shows who's trying to track you and stops them</b><br>
                Ever wonder who's following you online? TrackOFF shows you a list of every website trying to scoop up your info.
              </div>
            </div>
          </div>

        </div>
        <div class="row padding-40-t">

          <div class="col-md-3">
            <div class="media">
              <div class="to-feature__icon" data-icon="run"></div>
              <div class="media-body to-feature__text">
                <b>Runs in the background</b><br>
                Easy to use application that runs in the background with no hassle.
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="media">
              <div class="to-feature__icon" data-icon="alert"></div>
              <div class="media-body to-feature__text">
                <b>Detects threats in real-time</b><br>
                State-of-the-art technology identifies attempts to collect your personal, family, medical, and financial data.
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="media">
              <div class="to-feature__icon" data-icon="schedule"></div>
              <div class="media-body to-feature__text">
                <b>Schedules your browsing cleanings</b><br>
                Don't have time to manually erase your browsing history? No worries! Set it and forget it with easy removal.
              </div>
            </div>
          </div>

          <div class="col-md-3">
              <div class="media">
                <div class="to-feature__icon" data-icon="search"></div>
                <div class="media-body to-feature__text">
                  <b>Helps you search privately</b><br>
                  With DuckDuckGo, you can perform searches with peace of mind that they'll never be logged.
                </div>
              </div>
            </div>

        </div>
        <div class="row padding-40-t">

          <div class="col-md-3">
            <div class="media">
              <div class="to-feature__icon" data-icon="setting"></div>
              <div class="media-body to-feature__text">
                <b>Installs easily</b><br>
                A no-hassle configuration means that you're protected in minutes.
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="media">
              <div class="to-feature__icon" data-icon="browser"></div>
              <div class="media-body to-feature__text">
                <b>Automatically detects browsers</b><br>
                TrackOFF knows which browsers are on your computer and enables protection
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="media">
              <div class="to-feature__icon" data-icon="earth"></div>
              <div class="media-body to-feature__text">
                <b>Won't degrade your browsing</b><br>
                Other software blocks essential elements of webpages. TrackOFF was designed to allow the good and stop the bad.
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="media">
              <div class="to-feature__icon" data-icon="store"></div>
              <div class="media-body to-feature__text">
                <b>Doesn't store your data</b><br>
                We believe in true privacy online, which means we'll never collect or sell your personal information.              </div>
            </div>
          </div>

        </div>
    </div>
  </div>
</section>
