<div class="to-header">
  <nav class="navbar navbar-expand-lg to-nav">
    <div class="container padding-5-tb">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav to-nav__ul">
          <li class="nav-item to-nav__li --trackoff-log"></li>
          <li class="nav-item to-nav__li">
            A trusted partner of
          </li>
          <li class="nav-item to-nav__li --kg-log"></li>
        </ul>
      </div>
      <div class="text-right to-nav__text">
      1 888 702 7633 <br>
      <a href="//www.trackoff.com/en/support/contact">Get support</a>
      </div>
    </div>
  </nav>
  <div id="js-track-off-entry" class="to-jumbotron text-center padding-150-tb">
    <h1 class="to-jumbotron__title">Protect yourself from the newest digital threats</h1>
    <p class="to-jumbotron__p margin-40-b">Try our free online scan to see the personal information you're leaving on the Internet</p>
    <button type="button" class="btn btn-lg to-btn-success to-btn">Try free scan</button>
  </div>
</div>
