<section class="to-intro padding-90-t">
  <div class="container">
    <div class="to-intro__header text-center">
      <h3>
          TrackOFF helps you stop online tracking, targeted ads,<br>
          ID theft, and invasion of privacy.
      </h3>
      <p>
        Surf privately, secure your browsers and disguise your location for true online privacy.<br>
        Built for personal computers on Windows 10, 8, 7.
      </p>
    </div>
    <div class="row to-intro__main">
      <div class="col-md-4 padding-60-tb">
          <ul class="list-unstyled">
              <li class="media">
                <div class="mr-3 to-intro__icon" data-icon="fingerprint"></div>
                <div class="media-body to-intro__text">
                    With TrackOFF, companies and individuals can't
                    acquire enormous amounts of very <b>specific
                    information about you</b>.
                </div>
              </li>
              <li class="media my-4">
                <div class="mr-3 to-intro__icon" data-icon="window"></div>
                <div class="media-body to-intro__text">
                  Browse anonymously so that even your
                  Internet Service Provider won't know what
                  you're up to.
                </div>
              </li>
              <li class="media">
                <div class="mr-3 to-intro__icon" data-icon="web"></div>
                <div class="media-body to-intro__text">
                    In the age of constant connectivity, <b>online
                    privacy and secure browsing</b> are no longer
                    merely nice to have — they are mandatory.
                </div>
              </li>
            </ul>
      </div>
    </div>
  </div>
</section>
