.#{$prefix}-nav {
  font-size: 16px;
  background: rgba(20, 20, 20, 0.164);

  &__li {
    color: color('light');
    height: 30px;
    font-size: 0.8em;
    line-height: 30px;

    &.--trackoff-log {
      width: 126px;
      background-image: url('/src/assets/images/logo-trackoff.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &.--kg-log {
      width: 80px;
      background-image: url('/src/assets/images/logo-kidguard.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

  }

  &__text {
    color: color('light');
    height: 40px;
    font-size: 0.8em;
    a {
      color: color('light');
      text-decoration: underline;
      cursor: pointer;
    }
  }

}

.#{$prefix}-header {
  height: 70vh;
  width: 100vw;
  color: color('light');
  background: background('dark');
  background-image: url('/src/assets/images/bg-fold-fp-dark.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
